--- 
---
/* CSS Styles are defined below */

@import "normalize";
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import "nav";
@import "footer";
@import "media-queries";


*{
    font-size: 62%;
    font-size: 1.6rem;
    font-family: 'Josefin Sans', sans-serif;
}


.face-centering-container {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}


.faceimageanimcation-container {
    width:65%;
    height: 740px;
    // overflow: hidden;
    display: flex;
}

.designer-container, .coder-container {
    width: 50%;
    height: auto;
    z-index: 1;
    opacity: 1;
    background-size: initial;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.coder-container {
    background-image: url("../images/realistic-john.png");
}
.designer-container {
    background-image: url("../images/cartoon-john.png");
}

.designer-container:hover, .coder-container:hover  {
    width: 90%;
    -webkit-transition: width 500ms ease-in-out;
    -moz-transition: width 500ms ease-in-out;
    transition: width 500ms ease-in-out;
}

.designerpopout-text-box {
    position: absolute;
    top: 402px;
    left: 800px;
    height: 336px;
    width: 350px;
    display: flex;
     background-repeat: no-repeat;
    background-image: url("../images/designer-flags.png");
    background-size: contain;
    
}

.coderpopout-text-box {
    position: absolute;
    top: 450px;
    left: 800px;
    height: 420px;
    width: 350px;
    display: flex;
    background-repeat: no-repeat;
    background-image: url("../images/lower-coder.png");
    background-size: contain;
}


.designer-text-box, .coder-text-box {
    position: absolute;    
    height: 250px;
    width: 300px;
    display: flex;
    font-size: 1rem;
    display: flex;
    flex-flow: column nowrap;
    margin:0;
}

.designer-text-box {
    top: 200px;
    left: 200px;
    text-align: right;
}

.coder-text-box {
    top: 200px;
    left: 1450px;
    text-align: left;
}

.designer-text-box h1, .coder-text-box h1 {
    margin-top:0;
    margin-bottom: 1.0rem;
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: -3px 4px 0px lightgrey;
}


.website-examples-container {
    font-family: arial;
    font-size: 1rem;
    background-color: #e7e7e7;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

.website-examples-container p {
    font-family: arial;
    font-size: .8rem;
    color: grey;
}

.website-examples-container img {
    // height: 25%;
    width: 50%;
}

.website-examples {
    display:flex;
    flex-flow: row nowrap;
}

.example-text {
    font-family: arial;
    font-size: .5rem;
    text-align: left;
}

.example-container img {
    border-radius: 5px;
    border: 2px solid black;
    opacity: .7;
}

.example-container img:hover {
    opacity: 1;
}