<footer>
 
    <div class="footer-container">
        <div class="footer-copyright">
            © 2017 John Campbell
        </div>

        <div class="footer-nav">

            <div class="trigger">
                <a class="page-link" href="#">Home</a>
                <a class="page-link" href="#">About</a>
                <a class="page-link" href="#">Portfolio</a>
                <a class="page-link" href="#">Contact</a>
            </div>
        </div>

        <div class="socialmedia-icon-container">
            <div class="socialmedia-icon">
                <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            </div>
            <div class="socialmedia-icon">
                <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
            <div class="socialmedia-icon">
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <div class="socialmedia-icon">
                <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            </div>
            <div class="socialmedia-icon">
                <a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>


</footer>
