footer{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
}

.footer-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: crimson;
}

.site-footer-container{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height:auto;
    width: 100%;
    background-color: orange;
}
