footer{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 999999;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    background-color: lightgray;
}

.footer-copyright {
    font-family: arial;
    font-size: .5rem;
    color: black;
    margin-right: 50px;
}

.trigger {
    display: flex;
    align-items: center;
}

.page-link {
    margin-left: 20px;
}

footer a {
    color: black;
    font-family: arial;
    font-size: .5rem;
    text-decoration: none;
}


.socialmedia-icon-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: black;
    
}

.socialmedia-icon {
    display:flex;
    align-items: center;
    margin-right: .2rem;
    font-size: 3.6rem;
    color: black;
}

.socialmedia-icon:last-child {
    margin-right:0;
}



.socialmedia-icon a {
    font-size: 1.6rem;
}

footer a:hover {
    color: #fe3c20;
    font-weight: bolder;
}

footer a:active {
   color: #0087c6;
}
