/**
* Media Queries
**/

@media screen and (min-width: 320px) {
  // .page::before {
  //   content: "320px";
  //   font-family: Arial, sans-serif;
  //   color: green;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   font-weight: 700;
  //   margin: 5px;
  //   font-size: 2.4rem;
  //   z-index: 9999;
  // }
  
}

@media screen and (min-width: 480px) {
  // .page::before {
  //   content: "480px";
  //   color: maroon;
  // }
}

@media screen and (min-width: 620px) {
  // .page::before {
  //   content: "620px";
  //   color: orange;
  // }
 /* Responsive Navigation Styles */
  .site-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 0;
    position: inherit;
    padding: .4rem 0;
    background-color: black;
  }
  .site-nav .trigger {
    display: flex;
  }

  .site-nav .menu-icon {
    display: none;
  }
  .site-nav-bottombar {
    display: flex;
    height: 0rem;
    width: 100%;
    background-color: white;
    border-bottom: .4rem solid #0087c6;
    // background-color: #0087c6;
  }
  .site-nav .page-link {
    margin-left: 0;
    color: white;
    text-decoration: none;
  }
  .site-nav:hover .trigger {
    display: flex;
    padding-bottom: 0;
  }
 
 
}

@media screen and (min-width: 810px) {
  // .page::before {
  //   content: "810px";
  //   color: black;
  // }
   
 
}

@media screen and (min-width: 1400px) {
  // .page::before {
  //   content: "1400px";
  //   color: red;
  // }
}
