/**
* Media Queries
**/

@media screen and (min-width: 320px) {
  // .page::before {
  //   content: "320px";
  //   font-family: Arial, sans-serif;
  //   color: green;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   font-weight: 700;
  //   margin: 5px;
  //   font-size: 2.4rem;
  //   z-index: 9999;
  // }
  
  .site-nav-toplogo {
    display: none;
  }
  

  .mobile-nav-container {
    display:flex;
    height: 4rem;
  }

  .menu-icon {
    font-size: .5rem;
  }
  #desktop {
    display: none;
  }
  #mobile {
    display: flex;
  }
  .face-mobile-box {
    background-position-y: 100px;
  }
  .designer-mobile-box,
  .coder-mobile-box,
  .face-mobile-box {
    width: 100%;
    font-size: 0.4rem;
  }
  .site-nav-toplogo {
    display: flex;
  }
  .site-nav-toplogo-620px {
    display: none;
  }
  
  
  .footer-container{
    flex-flow: column;
  }
  
  .footer-nav{
    margin-top: .5rem;
  }
  .footer-copyright{
    margin: 0;
  }
}

@media screen and (min-width: 480px) {
  // .page::before {
  //   content: "480px";
  //   color: maroon;
  // }
}

@media screen and (min-width: 620px) {
  // .page::before {
  //   content: "620px";
  //   color: orange;
  // }
  .face-mobile-box {
    background-position-y: 52px;
  }
  
  
  .mobile-nav-container {
    height: 2rem;
  }
  
    .designer-mobile-box,
  .coder-mobile-box,
  .face-mobile-box {
    font-size: .7rem;
  }
  
  .site-nav-toplogo {
    display: none;
  }
  .site-nav-toplogo-620px {
    display: flex;
  }
  
  /* Responsive Navigation Styles */
  .site-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 0;
    position: inherit;
    padding: .4rem 0;
    background-color: black;
  }
  .site-nav .trigger {
    display: flex;
  }
  .site-nav .menu-icon {
    display: none;
  }
  .site-nav-bottombar {
    display: flex;
    height: 0rem;
    width: 100%;
    background-color: white;
    border-bottom: .4rem solid #0087c6;
    // background-color: #0087c6;
  }
  .site-nav .page-link {
    margin-left: 0;
    color: white;
    text-decoration: none;
  }
  .site-nav:hover .trigger {
    display: flex;
    padding-bottom: 0;
  }
  
   .footer-container{
    flex-flow: row;
  }
  
  .footer-copyright{
    margin: 20px;
  }
}

@media screen and (min-width: 1920px) {
  // .page::before {
  //   content: "810px";
  //   color: black;
  // }
  #mobile {
    display: none;
  }
  #desktop {
    display: flex;
  }
}

@media screen and (min-width: 1400px) {
  // .page::before {
  //   content: "1400px";
  //   color: red;
  // }
}
