/* Responsive Navigation Styles */

.site-nav-container{
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 1.6rem;
}

.site-nav-centeringbox {
    
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.site-nav-toplogo {
    margin-top: 5px;
    margin-right: 100px;
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    background-image: url("../images/tiger-shark-hover.png");
    background-size: contain;
    height: 5.5rem;
    width: 9.0rem;
}

.site-nav-toplogo:hover {
    background-size: contain;
    height: 5.5rem;
    width: 9.0rem;
    background-image: url("../images/tiger-shark.png");
}
.site-nav {
    position:absolute;
    top:2rem;
    right:1rem;
    background-color:white;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
   
}

.site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    padding-top: 10px;
    text-align: center;
    
}

.site-nav .trigger {
    clear: both;
    display: none;
     font-size: 2.0rem;
}

.site-nav:hover .trigger {
    display: block;
    padding-bottom: 5px;
}

.site-nav .page-link {
    color: #111;
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
}

.site-nav .page-link:hover {
    color: #fe3c20;
    font-weight: bolder;
}

.site-nav .page-link:active {
    color: #0087c6;
}