/* Responsive Navigation Styles */


.site-nav-container {
    position: fixed;
    top:-1px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 1.6rem;
    z-index: 9999999;
}

.site-nav-centeringbox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.site-nav-toplogo {
    position: fixed;
    top: 8px;
    left: 101px;
    text-align: center;
    font-size: 2.0rem;
    font-family: 'Ruthie', cursive;
    text-shadow: -4px 7px 8px #fe3c20;
}

.site-nav-toplogo a {
    font-family: 'Ruthie', cursive;
    text-decoration: none;
    color: white;
}

.site-nav-toplogo a:hover {
    font-family: 'Ruthie', cursive;
    text-decoration: none;
    color:  #fe3c20;
}
.site-nav {
    position: absolute;
    top: 2rem;
    right: 1rem;
    background-color: white;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
}

.site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    padding-top: 10px;
    text-align: center;
}

.site-nav .trigger {
    clear: both;
    display: none;
}

.site-nav:hover .trigger {
    display: block;
    padding-bottom: 5px;
}

.site-nav .page-link {
    color: #111;
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
}

.site-nav .page-link:hover {
    color: #fe3c20;
    font-weight: bolder;
}

.site-nav .page-link:active {
    color: #0087c6;
}
